@import url('/css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Saira', serif;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 20px;
}
